* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fefefe;
}

.w {
  /* display: flex;自动检测高度*/
  display: flex;
  margin: 20px auto;
  width: 900px;
  height: max-content;
  padding: 10px 10px;
  border-radius: 15px;
  /* 添加盒子阴影 */
  box-shadow: 0 0 10px #7693d0;
  /*自动换行*/
  flex-wrap: wrap;
}

h1,
h3 {
  text-align: center;
  margin-top: 10px;
  color: rgb(246, 251, 251);
}

a:hover {
  color: #2eb461;
  /* 鼠标悬停时样式 */
  cursor: pointer;
}

a {
  display: inline-block;
  /* 确保a标签占满父元素的宽度 */
  width: 100%;
  /* 确保a标签的宽度占满父元素的宽度 */
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;

  bottom: 0;
}

.w div {
  /* 设置失败,float: left;和display: inline-block;冲突 */
  /* float: left; */
  display: inline-block;
  margin: 0 10px;
  width: 130px;
  height: 120px;
  position: relative;
  /* 确保子元素的定位基准 */
}

.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px auto;
  padding: 2px;
  height: auto;
  background-color: rgb(73, 189, 50);
  border-radius: 10px;
  z-index: 3;
}

div img {
  position: absolute;
  /* 使用绝对定位确保图片在div的顶部 */
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
}

.home {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 70px;
  height: 71px;
  border-radius: 50%;
  background-color: #76d09f;
}

.home img {
  width: 100%;
  height: 100%;
}
